<html lang="en">
    <head>
        <meta charset="utf-8">
        <script type="text/javascript">
            var timeStamp = "";
            var ibmConfig = {
                proxyURL: "${proxyUrl}/${connectionsContextRoot}",
                versionStamp: "20140117.183045"
            };
            var asc = {
                useOAuth : false
            }; 
            var djConfig = {
               isDebug: false,
               baseUrl: '${proxyUrl}/${connectionsContextRoot}/resources/web/dojo/',
               locale: "en-us",
               useXDomain: true,
               dojoBlankHtmlUrl: "${proxyUrl}/${connectionsContextRoot}/homepage/static/20140117.183045/nav/blankIE.html",
               blankGif: "${proxyUrl}/${connectionsContextRoot}/resources/web/com.ibm.lconn.core.styles.oneui3/images/blank.gif?etag=20140117.183045",
               useCommentedJson: true,
               proxy: "${proxyUrl}/${connectionsContextRoot}",
               localizationComplete: true
            };
            var netJazzAjaxConfig = {
                base: "${proxyUrl}/${connectionsContextRoot}/connections/resources",
                skipStyles: true,
                params: "etag=20140117.183045&lang=en&country=US"
            };
        </script>
        <link rel="stylesheet" type="text/css" title="Style" href="${connectionsUrl}/${connectionsContextRoot}/resources/web/_style?include=com.ibm.lconn.core.styles.oneui3/base/package3.css~com.ibm.lconn.core.styles.oneui3/sprites.css"></link>
        <link rel="stylesheet" type="text/css" title="Style" href="${connectionsUrl}/${connectionsContextRoot}/resources/web/_lconntheme/default.css?version=oneui3&rtl=false"></link>
        <link rel="stylesheet" type="text/css" title="Style" href="${cssUrl}"></link>
        
        <script type="text/javascript" src="${proxyUrl}/${connectionsContextRoot}/resources/web/_js/?include=dojo.dojo.js"></script>
        <script>
        dojo.locale = "en";
        dojo.config.locale="en";
        </script>
        <script type="text/javascript" src="${proxyUrl}/${connectionsContextRoot}/resources/web/_js/?include=com.ibm.social.as.ActivityStream.js~lconn.core.util.LCDeferred.js~com.ibm.social.as.util.hashtag.HashtagUtil.js~lconn.core.util.dojoPatches.js&exclude=dojo.dojo.js&lang=en"></script>
        <script type="text/javascript" src="${libraryUrl}"></script>
    </head>
    <body class="lotusui30_body lotusui30_fonts lotusui30">
        <div id="lotusMain">
            <div class="lotusContent lotusBoard">
                <div id="activityStreamNode" class="lotusStream"></div>
            </div>
            <script>
                require(
                    ["sbt/config", "sbt/connections/controls/astream/_ActivityStream"], 
                    function(config, _ActivityStream){
                        config.Properties = ${sbtProps};
                        new _ActivityStream(${args});
                    }
                )
            </script>
        </div>
        
    </body>
</html>